
h1{
    text-align: center;
    color: brown;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    /* width: 100%; */
    border: 1px solid #ddd;
}
  
th, td {
    text-align: left;
    padding: 15px;
    white-space: nowrap; 
    font-size: 22px;
    /* width: 20px; */
    /* height: 7px; */
}
tr:hover{
    background-color: yellowgreen; 
    cursor: pointer; 
}
td:hover{
    background-color: aqua;
    cursor: pointer; 
}

  
tr:nth-child(even){background-color: #f2f2f2}