.grid-container{
    display: grid;
    grid-template-columns: auto auto auto ;
    /* border: 1px solid black; */
    width: 100%;
    margin: 20px auto;
    padding: 2px;
    border-collapse: collapse;
}

.grid-item{
   
    border: 1px solid rgb(97, 97, 97);
    border-width: 1px;
    padding: 10px;
    text-align: left;

}

.grid-item:nth-child(-n+3) {
    font-weight: bold; /* Makes the first row (header) text bold */
    background-color: #f4f4f4; /* Adds a light gray background to the header */
}