.tableib {
    display: inline-block;
            border: 1px solid black; /* Outer border */
            box-sizing: border-box;
            font-family: Arial, sans-serif;
            width: 100%;
}

/* Cell Styling */
.cellib {
            display: inline-block;
            padding: 8px;
            width: 428px;
            border: 1px solid black;
            text-align: left;
}




