.college{
    margin-left: 50px;
    display: flex;
    width:1280px;
    height:555px;
    margin-top: 60px;
    background-color: lightgrey;
    border-radius: 20px;
}

.column {
 flex: 50%;
 padding: 5px;
}

.college .column .heading{
    color:#9C4DF4;
    font-weight: 500px;
    font-size: 20px;
    line-height: 20px;
    background-color: #E4E2F4;
    width:170px;
    text-align:center;
    height:40px;
    justify-content: center;
    padding-top:18px;
    margin-left: 45px;
    margin-top: 25px;
}

.college .column .content{
    width:457px;
    margin-top: 30px;
    font-weight: 700px;
    font-size: 45px;
    line-height: 50px;
    color:#0A033C;
    text-align: left;
    height:165px;
    margin-left: 35px;
}

.college .column .sub-content{
    width:500px;
    height:90px;
    text-align: left;
    font-weight: 400px;
    color:#5D5A6F;
    font-size: 16px;
    line-height: 30px;
    margin-left: 35px;
    margin-top: 10px;
}

.register{
    width:185px;
    height:60px;
    color:white;
    text-align:center;
    border-radius: 10px;
    background-color: #9C4DF4;
    border:none;
    margin-left: 28px;
    margin-top: 25px;
    font-weight: 500px;
    font-size: 16px;
    line-height: 20px;
}