.content-box{
    height:320px;
    width:840px;
    margin-top: 50px;
    margin-left:350px ;
   border-radius: 10px;
}
.content-box .title{
    color:#0A033C;
    width:500px;
    height:110px;
    font-weight: 700px;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    margin-left: 60px;
}
.content-box .content{
    margin-left: -70px;
    width:750px;
    height:90px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color:#5D5A6F;
    margin-top: 15px;
}
.courses{
    width:162px;
    height:60px;margin-top: 13px;
    margin-left: 190px;
    background: #9C4DF4;
    color:white;
    font:inherit;
    font-weight: 400px;
    font-size: 16px;
    line-height: 20px;
    align:center;
    border:none;
    border-radius: 10px;
    margin-top: 20px;
}