.footer {
    width:1280px;
    height:175px;
    
    color: #2d2d2d;
    padding: 40px 20px;
   margin-left: 80px;margin-top: 30px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-brand {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
    line-height: 40px;
    width:50px;
}

.footer-brand h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color:#0A033C;
    font-weight: 600px;
    line-height: 30px;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top:10px ;
    margin-bottom:10px;
    color:#0A033C;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.footer-links {
    display: flex;
    flex: 3;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-links div {
    flex: 1;
    max-width: 200px;
    margin: 10px;
}

.footer-links h3 {
    color:#0A033C;
    font-weight: 600px;
    line-height: 22px;
    font-size: 22px;
    margin-bottom: 10px;

}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    margin-bottom: 5px;
    line-height: 24px;
}

.footer-links ul li a {
    color: #5D5A6F;
    font-weight: 400px;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer p {
    font-size: 16px;
    color:#5D5A6F;
    margin-top: 10px;
    font-weight: 400px;
    line-height: 28px;
}
