.lessons{
    margin-top: 80px;
    width: 1280px;
    height:1000px;
    margin-left:350px ;
}

.title{
    color:#0A033C;
    font-weight: 700px;
    font-size: 45px;
    line-height: 55px;
    width:556px;
    height:70px;
    margin-left: 60px;

}
.content{
    width:700px;
    height:60px;
    color:#5D5A6F;
    line-height: 30px;
    align:center;
    text-align: center;
}
.lessons .boxes{
    width:412px;
    height:50px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 220px;
    
}
.lessons .leftmost{
    float:left;
    font-weight: 500px;
    font-size: 16px;
    line-height: 20px;
    color:#0A033C;
    margin-right: 10px;
}

.lessons .middle{
    width:100px;
    float: left;
    background-color: #FF6652;
    color:white;
    align:center;
    margin-top: -12px;
    padding-top: 15px;
    border-radius: 10px;
    text-align: center;
    height:70%;
}
.lessons .rightmost{
    float:left;
    margin-left: 10px;
}